.display-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #81671f;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 900px;
}

.toggler {
  border-radius: 10px;
  border: 0.5px black;
  padding: 10px;
  transition: 0.15s ease-in-out;
}

.toggler:hover {
  cursor: pointer;
  background-color: rgba(6, 82, 119, 0.762);
}

.highlight {
  background-color: rgba(6, 82, 119, 0.762);
  border: 2px solid rgba(4, 29, 73, 0.738);
}

.toggle-text {
  text-align: center;
  font-size: 22px;
  color: white;
}

@media (max-width: 550px) {
  .toggle-container {
    width: fit-content;
  }

  .toggle-text {
    font-size: 16px;
  }
}
