@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding: 12px;
}

.heading {
  color: white;
  font-weight: bold;
  font-size: 38px;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

.text {
  color: white;
  font-size: 28px;
  font-family: 'Patrick Hand', cursive;
}

@media (max-width: 550px) {
  .heading {
    font-size: 32px;
  }

  .text {
    font-size: 24px;
  }
}
