.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding: 5px;
}

.heading {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.text {
  color: white;
  font-size: 28px;
  padding: 5px;
}

@media (max-width: 550px) {
  .heading {
    font-size: 34px;
  }
}
