div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding: 5px;
  background-color: rgb(114, 103, 5);
}

h2 {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

p {
  color: white;
  font-size: 28px;
  padding: 5px;
}

@media (max-width: 550px) {
  h2 {
    font-size: 34px;
  }
}
